td { 
    margin: 20px; 
    padding: 8px;
    vertical-align: top;
  } 

html * {
    font-family: Helvetica;
}

img {
    width: 500px;
    height: 120px;
}

input{
    width: 300px;
    height: 20px;
}
