<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Apalabrados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <img src="{{url_for('static', filename='images/words.jpg')}}" alt="Words">
    <div>
        <h1>Wellcome to Apalabrados</h1>
        &nbsp;
        <p>Apalabrados is a nice database to save the user input and store it according to the data type.</p>
        &nbsp;
        <h3>Try your input!</h3>
        <form method="POST">
            <input name="text">
            <input type="submit" style="width: 80px">
        </form>
    </div>
</body>
</html>