<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Apalabrados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

<div>

    <h1>Wellcome to Apalabrados</h1>


    <p>Hola {{variable}} weeee </p>


    <p>Type your input</p>

    <form method="POST">
        <input name="text">
        <input type="submit">
    </form>
    
</div>

</body>
</html>