<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Apalabrados|numbers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

<div>

    <p><a href="submit">Regresar</a></p>

    {% block content %}
  
    <p><a href={{ url_for('start') }}>Home</a></p>

    {% endblock %}

    <h1>Table {{table}}!</h1>

    <p>Data numbers</p>

    <table border="1" class="dataframe">
        <thead>
          <tr style="text-align: right;">
      
            <th>number</th>
            <th>accumulated</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
         
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
       
            <td>2</td>
            <td>3</td>
          </tr>
          <tr>
         
            <td>3</td>
            <td>6</td>
          </tr>
          <tr>
      
            <td>4</td>
            <td>10</td>
          </tr>
          <tr>
            
            <td>5</td>
            <td>15</td>
          </tr>
        </tbody>
      </table>

</div>

</body>
</html>