<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Apalabrados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

<div>

    <h1>Your input have been saved</h1>

    <h1>What database do you want to watch</h1>


    <p><a href="numbers">Numbers Table</a></p>

    <p><a href="text">Text table</a></p>

    <p><a href="character">Character Table</a></p>

</div>

</body>
</html>