<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Apalabrados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

<div>

    {% block content %}
  
    <p><a href={{ url_for('index') }}>Home</a></p>

    {% endblock %}

    <p>Hola {{variable}} Weee </p>

  
    <h1>Your input have been saved</h1>


 <div class="container">
    <table>
       <td>
        {{tables | safe}}
       </td>
       <td>
        
        {{tables | safe}}
        
       </td>
       <td>
        
        {{tables | safe}}
        
       </td>
    </table>
 </div>


 
</div>

</body>
</html>